@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f4f4f4;
    --foreground: #ffffff;

    /* --background: #0a0a0a;
    --foreground: #ededed; */
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
div {
  font-family: var(--font-neue-medium) !important;
}

.font-neue {
  font-family: var(--font-neue) !important;
}

.font-neue-medium {
  font-family: var(--font-neue-medium) !important;
}

.font-neue-bold {
  font-family: var(--font-neue-bold) !important;
}

@media screen and (max-width: 465px) {
  .hide-on-mobile {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .hide-on-desktop {
    display: none !important;
  }
}
